@model Book
@{
    ViewData["Title"] = "Edit book";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2"> 
            <h2 class="text-primary">Edit book</h2>
            <hr />
        </div>

        <table class="table-borderless table-sm" style="width:100%">
            <tbody>
                <tr>
                    <td width="50%">
                        <div class="mb-3">
                            <label asp-for="BookTitle"><h4>The title</h4></label>
                            <input asp-for="BookTitle" class="form-control" />
                            <span asp-validation-for="BookTitle" class="text-danger"></span>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="mb-3">
                            <label asp-for="Author"><h4>Author</h4></label>
                            <input asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="mb-3">
                            <label asp-for="Genre"><h4>Genre</h4></label>
                            <input asp-for="Genre" class="form-control" />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                    </td>
                    <td width="50%">
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div class="mb-3">
                            <label asp-for="Publisher"><h4>Publisher</h4></label>
                            <input asp-for="Publisher" class="form-control" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="mb-3">
                            <label asp-for="PublishingDate"><h4>Published Date</h4></label>
                            <input asp-for="PublishingDate" class="form-control" />
                            <span asp-validation-for="PublishingDate" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="mb-4">
                            <label asp-for="ISBNcode"><h4>ISBN code</h4></label>
                            <input asp-for="ISBNcode" class="form-control" />
                            <span asp-validation-for="ISBNcode" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary" style="width:150px">Cancel</a>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
